.btn-close-modal {
    height: 1.5em !important;
    right: 5px;
    top: 5px;
    position: absolute !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 1.5em;
}

.master-header {
        padding-top: 30vh;
        padding-bottom: 20vh;
        height: 100vh;
    }

    .master-header .subheading {
        font-size: 6vh;
        text-shadow: black 4px 5px 7px;
    }

    .master-header .heading {
        font-size: 7vh;
        text-shadow: black 4px 5px 7px;
    }

    .master-header {
        background: url("/static/img/image_placeholder.jpg");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
    }

    .product-col .image {
        background: url("/static/img/image_placeholder.jpg");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: contain;
    }

    .cart-button {
        min-height: 20px;
        padding: 0;
        margin: 0 10px;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 26px !important;
    }

    .cart-row {
        display: flex;
    }

    .nav-item {
        cursor: pointer;
    }



    @media (max-width: 991.98px) {
        .nav-link {
            text-align: center;
            margin-bottom: 1em;
        }

    }
    .cart-icon .material-icons{
        color: white;
    }
    .cart-mobile {
        position: fixed;
        width: 50px;
        height: 50px;
        background: var(--bs-primary);
        bottom: 3em;
        right: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        cursor: pointer;
        color: white;
        animation-name: jump;
        animation-duration: .4s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
    }

    .main-body{
        width: 100%;
    }
    .main-custom-container{
      margin-top: 3.6rem;
    }
@keyframes jump {
  from   {bottom:3em}
    to  {bottom:3.5em;}
}
.navbar-brand{
    margin-right: 0 !important;
}

.carousel-control-prev{
    background: black;
}
.carousel-control-next{
    background: black;
}

.product-modal{
    width: 75%;
}

.carossel{
    height: 10em;
}
