{% load static %}

{% include 'header.html' %}

<body class="off-canvas-sidebar">
<!-- Navbar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container justify-content-start">
        <!-- Navbar brand -->
        <a class="navbar-brand " href="/">
            <img class="d-md-block" style="display:none; height: 1.5em" alt="logo-big" src="{% static 'img/logos/logo_transparent.png' %}">
            <img class="d-md-none mx-1" style="height: 1em" alt="logo-small" src="{% static 'img/logos/logo_transparent.png' %}">
        </a>

        <div class="navbar text-white text-center" id="navbarButtonsExample">
              ParkIt - Административен панел
        </div>
    </div>
</nav>

<div class="wrapper wrapper-full-page">
    <div class="container mt-2 mx-auto">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'footer.html' %}
</div>

</body>
